---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: CK
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Ethan Miller</span>, Im<button class="button-text js-channel-trigger" data-channel="8"></button> based in the UK, i am a web engineer and CSS enthusiast.
    If you'd like to chat, feel free to send me an
    <a href="mailto:ethanfergusmiller@gmail.com">e-mail</a> or send me a dm on discord @ <span class="discord__photo" tabindex="0">sudo#9770</span>
  </p>
</article>
